
  <title>Serie-Lizador</title>
  <style>
      .container {
          background-color: rgb(29, 167, 178);
          
      }
      h1 {
          color: #181b1f;
      }
  </style>

  <div class="row">
      <div class="col-md-10">
        <div class="container d-flex align-items-center justify-content-start gap-3">
              <img src="https://fgutep.xyz/enDesarrolloSW/img/GhLogo.png" height="45"/>
              <h1 class="mb-0">Serie-Lizador</h1>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-5 offset-md-1">
          <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Canal</th>
                  <th>Temporadas</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let serie of series; let i = index" >
                  <td><b>{{i + 1}}</b></td>
                  <td>
                    <a href="#" (click)="selectSerie(serie); $event.preventDefault()">
                      {{ serie.name }}
                    </a>
                  </td>
                  <td>{{serie.channel}}</td>
                  <td>{{serie.seasons}}</td>
                </tr>
              </tbody>                  
            </table>
            <p>Serasons Average: {{calcularAvg()}}</p>
      </div>

      <div class="col-md-4 ">
          <div id="series-card" class="card" style="width: 30rem;" *ngIf="selected">
            <img class="card-img-top" src="{{selected.poster}}" alt="{{selected.name}}">
            <div class="card-body">
              <h5 class="card-title">{{selected.name}}</h5>
              <p class="card-text">{{selected.description}}</p>
              <a href="{{selected.poster}}" class="btn btn-primary">Ver más</a>
          </div>
          </div>
  </div>

  <script type="module" src="./dist/index.js"></script>
